<head>
<title>ProxibanqueSI</title>
<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<!-- 			<div id='horloge'></div> -->

			<a class="navbar-brand" >ProxibanqueSI</a>

			<div class="navbar-form navbar-right" ng-controller='LoginController'>
				<div class="form-group">
					<input ng-model="user" />
				</div>
				<div class="form-group">
					<input type="password" ng-model="pswd" />
				</div>
				<button class="btn btn-success" type="button" ng-click="login()">Connexion au système</button>
				<div></div>
				<span id="login.error" class="invisible">Login ou mot de passe incorrects!!</span> 
				<span id="login.missing" class="invisible">Veuillez	saisir un login et un mot de passe!!</span>
			</div>
		</div>
	</div>
</nav>
</head>


