.visible {
	visibility: visible;
	color: red;
	font-weight: bold;
}

.invisible {
	visibility: hidden;
}

.solde-true {
	color: green;
}

.solde-false {
	color: red;
}

body {
    background-color: #b3d9ff;
    text-align: center;
}

h3{
	color: #004080;
}

h4{
	color: #004080;
}




